.vscode/settings.json
.DS_Store
rubixcorejava.jar
tests/thunder-tests/thunderActivity.db
tests/thunder-tests/thunderclient.db
tests/thunder-tests/thunderCollection.db
tests/thunder-tests/thunderEnvironment.db
tests/thunder-tests/thunderActivity.json
tests/thunder-tests/thunderclient.json
tests/thunder-tests/thunderCollection.json
tests/thunder-tests/thunderEnvironment.json
tests/thunder-tests/backup/thunderActivity.db
tests/thunder-tests/backup/thunderclient.db
tests/thunder-tests/backup/thunderCollection.db
tests/thunder-tests/backup/thunderEnvironment.db
/target/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
java-rubix-core.iml
pom.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__com_did_core_did_8_8.xml
.idea/libraries/Maven__com_github_ipfs_java_ipfs_api_v1_3_3.xml
.idea/libraries/Maven__com_github_ipld_java_cid_v1_1_0.xml
.idea/libraries/Maven__com_github_multiformats_java_multiaddr_v1_3_1.xml
.idea/libraries/Maven__com_github_multiformats_java_multibase_v1_1_0.xml
.idea/libraries/Maven__com_github_multiformats_java_multihash_v1_1_0.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_15.xml
.idea/libraries/Maven__javax_json_javax_json_api_1_0.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk18on_1_71.xml
.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15to18_1_71.xml
.idea/libraries/Maven__org_bouncycastle_bcprov_jdk18on_1_71.xml
.idea/libraries/Maven__org_bouncycastle_bcutil_jdk18on_1_71.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_json_json_20220924.xml
.idea/misc.xml
.idea/modules.xml
KATI.iml
.idea/misc.xml
.idea/modules.xml
KATI.iml
.idea/misc.xml
.idea/modules.xml
KATI.iml
